---
- name: get rust user home
  command: "/bin/sh -lc 'cd && pwd'"
  become: true
  become_user: "{{ rust_user }}"
  changed_when: false
  register: rust_user_home_check

- name: set rust user home
  set_fact:
    rust_user_home: "{{ rust_user_home_check.stdout_lines | first }}"

- name: check if rustup is installed
  command: "{{ rust_user_home }}/.cargo/bin/rustup --version"
  register: rustup_check
  become: true
  become_user: "{{ rust_user }}"
  changed_when: false
  failed_when: false

- name: get rust version
  shell: "{{ rust_user_home }}/.cargo/bin/rustc --version | awk '{print $2}'"
  register: rust_check
  become: true
  become_user: "{{ rust_user }}"
  changed_when: false
  failed_when: false

- name: detect facts
  set_fact:
    rustup_installed: "{{ rustup_check.rc == 0 }}"
    rust_installed: "{{ rust_check.rc == 0 }}"
    rust_detected_version: "{{ None if rust_check.rc > 0 else rust_check.stdout }}"

- name: detect whether correct version of rust
  set_fact: rust_version_changed="{{ rust_version != 'stable' and rust_version != rust_detected_version }}"
